.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100rem;
  font-size: 1.2rem;
  border: solid 1px var(--color-border);
  background-color: transparent;
  color: var(--color-text-dim);
}

.button svg {
  transform: rotate(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.button:hover svg {
  transform: rotate(180deg);
}