@font-face {
  font-family:'Circe';
  src: url('fonts/Circe-Regular.woff2') format('woff2'),
  url('fonts/Circe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-052E;
}

@font-face {
  font-family:'Circe';
  src: url('fonts/Circe-Bold.woff2') format('woff2'),
  url('fonts/Circe-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-052E;
}

@font-face {
  font-family:'Manrope';
  src: url('fonts/Manrope-Bold.woff2') format('woff2'),
  url('fonts/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-052E;
}

:root {
  --font-base: 'Circe', Arial, sans-serif;
  --font-header: 'Manrope', Arial, sans-serif;

  --color-bg-1: #ffffff;
  --color-bg-2: #f8f8f8;
  --color-txt-accent: #000000;
  --color-txt-base: #4e4e4e;
  --color-txt-dim: #565656;
  --color-brand: #a52838;
  --color-border: #f2f2f7;

  font-family: var(--font-base);
  font-weight: normal;

  color-scheme: light dark;
  color: var(--color-txt-base);
  background-color: var(--color-bg-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  font-weight: bold;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
  font-family: var(--font-base);
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.625rem;
}

button:focus {
  outline: none;
}
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

